<div class="bg-dark">
  <div style="float: right;" class="col-md-3 col-sm-3 col-lg-3">
    <span style="color: steelblue"> <b>Welcome <u> {{empName}} !</u></b></span>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-dark navbarspacing" style="margin-top: 0rem;">
    <a class="navbar-brand" href="http://troodontechnology.com/">
      <img src="assets/img/TROOWORK.png" style="width: 10rem;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" style="margin-left: 15%;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <img class="imagesize nav-link" src="assets/icons/homepage.png" routerLink="/welcomeSuperAdmin" >
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" data-toggle="dropdown" src="assets/icons/people.png" >
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/Createemployee"><b>Create Employee</b></a>
            <a class="dropdown-item" routerLink="/Viewemployee"><b>View Employee</b></a>
            <a class="dropdown-item" routerLink="/Managelogincredentials"><b>Manage Login Credentials</b></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" src="assets/icons/Organisation-2.png" >
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/CreateOrganization"><b>Create Organisation</b></a>
            <a class="dropdown-item" routerLink="/ViewOrganization"><b>View Organisation</b></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" src="assets/icons/profile-2.png" >
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/superAdminMyProfile"><b>My Profile</b></a>
            <a class="dropdown-item" routerLink="/"><b>Log Out</b></a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <div style="height:100%;background-color: #EBFAFF;">

  </div> -->
</div>