<app-manager-dash-board></app-manager-dash-board>
<div style="background-color: #FFFFFF;margin-left: 15rem;margin-right: 15rem;">
  <br><br>
  <div style="text-align:center">
    <h3 style="color: #174a5e;"><strong>CREATE NEW BUILDING</strong></h3>
  </div>

  <br>
  <div class="col-md-12">
    <div class="row col-md-12">
      <h5 style="margin-top: 2rem;text-align:right" class="col-md-4"><label for="building" >Building Name* </label></h5>
      <div class="md-form col-md-3" style="text-align:left">
        <input type="text" maxlength="19"style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="BuildingName">
      </div>
      <div class="col col-md-5"></div>
    </div>
    <div class="row col-md-12">
      <div class="col col-md-3"></div>
      <div style="text-align:right" class="col-md-3"><button style="color:white !important"  class="btn btn-success"
           (click)="addBuilding(BuildingName)"><b>Create Building</b>
      </button></div>
      <div style="text-align:left" class="col-md-3">
        <a routerLink="/Buildview" class="btn btn-warning" style="color:white !important" routerLinkActive="active"><b>Go
            Back
          </b>
        </a></div>
      <div class="col col-md-3"></div>
    </div>
  </div>
  <br><br>
</div>