<app-employee-dashboard></app-employee-dashboard>
<!-- <div style="width: 100%;height: 100%;">
  <div class="bg-dark" style="width: 100%;height: 100%;"> -->
      <div class="py-5 " style="padding-left: 9rem;padding-right: 9rem;">
    <h4 class="refer"><b> MEETING/TRAINING/EVENT</b> </h4>
    <br>
    <form [formGroup]="searchform">
      <div class="active-pink-3 active-pink-4 mb-4" style="margin-left: 1.5rem;margin-right: 1.5rem;">
        <input class="form-control" name="searchmeetingview" maxlength="20" specialIsAlphaNumeric minlength="3" type="text"
          placeholder="Search" aria-label="Search" [(ngmodel)]="SearchMeeting" formControlName="SearchMeeting"
          (input)="searchMeeting($event.target.value);" style="width: 100%;">
        <div *ngIf="searchform.controls.SearchMeeting.errors?.minlength">Minimum 3 characters required.</div>
      </div>
    </form>
    <div style="margin-left: 1.5rem;margin-right: 1.5rem;"  class="bg-info">
      <table class="table table-responsive table-hover table-bordered table">
        <thead class="tableHead">
          <th> Action Name </th>
          <th>Event Venue</th>
          <th>Event Host</th>
          <th>Employee Name</th>
          <th>Time</th>
          <th>Status</th>
        </thead>
        <tbody>
          <tr *ngFor="let v of viewmeeting" class="r2">
            <td>{{ v.ActionType }}-{{ v.Action }}</td>
             <td>{{ v.EventVenue }}</td>
             <td>{{ v.EventHost }}</td>
             <td>{{ v.EmployeeName }}</td>
             <td>{{ v.EventStartTime }}-{{ v.EventEndTime }}</td>
             <td *ngIf="v.HasAttended === '0'">Not Attended</td>
             <td *ngIf="v.HasAttended === '1'">Attended</td>
          </tr>
          <tr *ngIf="viewmeeting?.length == 0">
            <td colspan="2" class="no-data-available">No records found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

