<div class="bg-dark">
  <div style="float: right;" class="col-md-3 col-sm-3 col-lg-3">
    <span style="color: steelblue"> <b>Welcome <u> {{empName}} !</u></b></span>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-dark navbarspacing" style="margin-top: 0rem;">
    <a class="navbar-brand" href="http://troodontechnology.com/">
      <img src="assets/img/TROOWORK.png" style="width: 10rem;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" style="margin-left: 15%;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <img class="imagesize nav-link" src="assets/icons/homepage.png" style="width: 89% !important;" routerLink="/welcomePage">
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" src="assets/icons/work order.png" style="width: 89% !important;">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/CreateWorkOrder"><b>Create Work Order</b></a>
            <a class="dropdown-item" routerLink="/createQuickOrder"><b>Create Quick Order</b></a>
            <a class="dropdown-item" routerLink="/ViewWorkOrder"><b>View Work Order</b></a>
            <a class="dropdown-item" routerLink="/CreateBatchWorkOrder"><b>Create Batch Work Order</b></a>
            <a class="dropdown-item" routerLink="/ViewBatchWorkorder"><b>View Batch Work Order</b></a>
            <a class="dropdown-item" routerLink="/WorkOrderType"><b>Work-Order Type</b></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" data-toggle="dropdown" src="assets/icons/people.png" style="width: 89% !important;">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/addEmployee"><b>Create Employee</b></a>
            <a class="dropdown-item" routerLink="/ViewEmployee"><b>View Employee</b></a>
            <a class="dropdown-item" routerLink="/MeetingTrainingCreate"><b>Create Meeting/Training</b></a>
            <a class="dropdown-item" routerLink="/MeetingTrainingView"><b>View Meeting/Training</b></a>
            <a class="dropdown-item" routerLink="/JobTitleView"><b>Create Job-Title</b></a>
            <a class="dropdown-item" routerLink="/manageLoginCredentials"><b>Manage Login Credentials</b></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" data-toggle="dropdown" src="assets/icons/reports.png" style="width: 89% !important;">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/WorkorderReport"><b>WorkOrder</b></a>
            <a class="dropdown-item" routerLink="/Batch-work-order-Report"><b>Batch Work-Order Report</b></a>
            <a class="dropdown-item" routerLink="/BatchScheduleAssignment"><b>View Batch-Schedule Assignment</b>
            </a>
            <a class="dropdown-item" routerLink="/Inspection-Report"><b>Inspection</b></a>
            <a class="dropdown-item" routerLink="/BarcodeReport"><b>Barcode</b></a>
            <a class="dropdown-item" routerLink="/Dashboard-Report"><b>Dashboard Report</b></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" src="assets/icons/assignements--2.png" style="width: 89% !important;">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/SchedulingView"><b>Create/Edit Assignment Name</b></a>
            <a class="dropdown-item" routerLink="/scheduleRoomView"><b>Create Assignment List</b></a>
            <a class="dropdown-item" routerLink="/CreateBatchSchedule"><b>Edit Assignment Schedule</b></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" src="assets/icons/forms.png" style="width: 89% !important;">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/DocumentfolderView"><b>Create New Document Folder</b></a>
            <a class="dropdown-item" routerLink="/DocumentsUpload"><b>Upload Document</b></a>
            <a class="dropdown-item" routerLink="/ViewDocuments"><b>View Document</b></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" src="assets/icons/INSPECTION--2.png" style="width: 89% !important;">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/InspectionCreate"><b>Create Inspection</b></a>
            <a class="dropdown-item" routerLink="/InspectionView"><b>View Inspection</b></a>
            <a class="dropdown-item" routerLink="/CreateInspectionTemplate"><b>Create Inspection Template</b></a>
            <a class="dropdown-item" routerLink="/InspectiontemplateandquestionsView"><b>View Inspection Template</b></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" data-toggle="dropdown" src="assets/icons/inventory--2.png" style="width: 89% !important;">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/Buildview"><b>Building</b></a>
            <a class="dropdown-item" routerLink="/Floorview"><b>Floor</b></a>
            <a class="dropdown-item" routerLink="/Zoneview"><b>Zone</b></a>
            <a class="dropdown-item" routerLink="/roomView"><b>Room</b></a>
            <a class="dropdown-item" routerLink="/EquipmentView"><b>Equipment</b></a>
            <a class="dropdown-item" routerLink="/DepartmentView"><b>Department</b></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" src="assets/icons/profile-2.png" style="width: 89% !important;">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/managerMyProfile"><b>My Profile</b></a>
            <a class="dropdown-item" routerLink="/"><b>Log Out</b></a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div style="height:100%;background-color: #EBFAFF;">

  </div>
</div>