<div class="bg-dark" style="margin-top: -2rem;">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-dark navbarspacing">
    <a class="navbar-brand" href="http://troodontechnology.com/">
      <img src="assets/img/TROOWORK.png" style="width: 10rem;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" style="margin-left: 15%;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <img class="imagesize nav-link" src="assets/icons/homepage.png" routerLink="/welcomePage">
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" src="assets/icons/work order.png">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/CreateWorkOrder">Create Work Order</a>
            <a class="dropdown-item" routerLink="/createQuickOrder">Create Quick Order</a>
            <a class="dropdown-item" routerLink="/ViewWorkOrder">View Work Order</a>
            <a class="dropdown-item" routerLink="/CreateBatchWorkOrder">Create Batch Work Order</a>
            <a class="dropdown-item" routerLink="/ViewBatchWorkorder">View Batch Work Order</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" data-toggle="dropdown" src="assets/icons/people.png">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/addEmployee">Create Employee</a>
            <a class="dropdown-item" routerLink="/ViewEmployee">View Employee</a>
            <a class="dropdown-item" routerLink="/MeetingTrainingCreate">Create Meeting/Training</a>
            <a class="dropdown-item" routerLink="/MeetingTrainingView">View Meeting/Training</a>
            <a class="dropdown-item" routerLink="/JobTitleView">Create Job-Title</a>
            <a class="dropdown-item" routerLink="/manageLoginCredentials">Manage Login Credentials</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" data-toggle="dropdown" src="assets/icons/reports.png">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/WorkorderReport">WorkOrder</a>
            <a class="dropdown-item" routerLink="/Batch-work-order-Report">Batch Work-Order Report</a>
            <a class="dropdown-item" routerLink="/BatchScheduleAssignment">View Batch-Schedule Assignment </a>
            <a class="dropdown-item" routerLink="/Inspection-Report">Inspection</a>
            <a class="dropdown-item" routerLink="/BarcodeReport">Barcode</a>
            <a class="dropdown-item" routerLink="/Dashboard-Report">Dashboard Report</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" src="assets/icons/assignements--2.png">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/SchedulingView">Create Batch Work-Order Name</a>
            <a class="dropdown-item" routerLink="/scheduleRoomView">Create Batch Schedule Room</a>
            <a class="dropdown-item" routerLink="/CreateBatchSchedule">Create Batch-Schedule Assignment</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" src="assets/icons/forms.png">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/DocumentfolderView">Create New Document Folder</a>
            <a class="dropdown-item" routerLink="/DocumentsUpload">Upload Document</a>
            <a class="dropdown-item" routerLink="/ViewDocuments">View Document</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" src="assets/icons/INSPECTION--2.png">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/InspectionCreate">Create Inspection</a>
            <a class="dropdown-item" routerLink="/InspectionView">View Inspection</a>
            <a class="dropdown-item" routerLink="/CreateInspectionTemplate">Create Inspection Template</a>
            <a class="dropdown-item" routerLink="/InspectiontemplateandquestionsView">View Inspection Template</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" data-toggle="dropdown" src="assets/icons/inventory--2.png">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/Buildview">Building</a>
            <a class="dropdown-item" routerLink="/Floorview">Floor</a>
            <a class="dropdown-item" routerLink="/Zoneview">Zone</a>
            <a class="dropdown-item" routerLink="/roomView">Room</a>
            <a class="dropdown-item" routerLink="/EquipmentView">Equipment</a>
            <a class="dropdown-item" routerLink="/DepartmentView">Department</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" src="assets/icons/profile-2.png">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/managerMyProfile">My Profile</a>
            <a class="dropdown-item" routerLink="/">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div style="height:100%;background-color: #EBFAFF;">

  </div>
</div>