<app-manager-dash-board></app-manager-dash-board>
<br><br>
<div style="background-color: #FFFFFF;margin-left: 15rem;margin-right: 15rem;">
  <br><br>
  <div style="text-align:center">
    <h3 style="color: #174a5e;"><strong>EDIT MEETING/TRAINING/EVENT</strong></h3>
  </div>

  <br>
  <div class="col-md-12">
    <div class="row col-md-12">
      <h5 style="margin-top: 2rem;text-align:right" class="col-md-4"><label for="mtngTrainingEvent">Meeting/Training/Event*
        </label></h5>
      <div class="md-form col-md-3" style="text-align:left">
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="mtngDetails.ActionKey"
          (change)="setActionKey($event.target.value)">
          <option>--Select--</option>
          <option *ngFor="let b of event" [value]="b.ActionKey">
            {{b.ActionType}} - {{b.Action}}
          </option>
        </select>
      </div>
      <div class="col col-md-5"></div>
    </div>

    <div class="row col-md-12">
      <h5 style="text-align:right" class="col-md-4"><label for="eventHost">Event Host* </label></h5>
      <div class="md-form col-md-3" style="text-align:left">
        <input type="text" style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="mtngDetails.Eventhost">
      </div>
      <div class="col col-md-5"></div>
    </div>
    <div class="row col-md-12">
      <h5 style="text-align:right" class="col-md-4"><label for="Venue">Venue* </label></h5>
      <div class="md-form col-md-3" style="text-align:left">
        <input type="text" style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="mtngDetails.Venue">
      </div>
      <div class="col col-md-5"></div>
    </div>

    <div>
      
      <label for="building">Date* </label>
      <input type="text" [(ngModel)]="currentDate">
      <igx-datePicker  [(ngModel)]="currentDate"></igx-datePicker>
    <!-- </input> -->
    </div>

    <div class="form-group">
      <label style="margin-top: 2rem;" class="col-sm-3 col-md-3 col-lg-3 ">Start Time*</label>
      <p-calendar [(ngModel)]="time1" [timeOnly]="true" hourFormat="12"></p-calendar>
    </div>
    <div class="form-group">
      <label style="margin-top: 2rem;" class="col-sm-3 col-md-3 col-lg-3 ">End Time*</label>
      <p-calendar [(ngModel)]="time2" [timeOnly]="true" hourFormat="12"></p-calendar>
    </div>

    <div class="form-group">
      <label>Notes</label>
      <textarea class="form-control rounded-0" [(ngModel)]="mtngDetails.MeetingNotes" rows="5" style="resize: none;"></textarea>
    </div>



    <label>SELECT EMPLOYEES</label>

    <div class="row col-md-12">
      <h5 style="text-align:right" class="col-md-4"><label for="floorname">Job Title </label></h5>
      <div class="md-form col-md-3" style="text-align:left">
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="JobTitleKey"
          (change)="selectEmpOfJobTitle($event.target.value)">
          <option value="0">--Select--</option>
          <option *ngFor="let f of jobTitle" [value]="f.JobTitleKey">
            {{f.JobTitleText}}
          </option>
        </select>
      </div>
      <div class="col col-md-5"></div>
    </div>
    <div class="row col-md-12">
      <h5 style="text-align:right" class="col-md-4"><label for="floorname">Supervisor </label></h5>
      <div class="md-form col-md-3" style="text-align:left">
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="SupervisorKey"
          (change)="selectEmpOfSupervisor($event.target.value)">
          <option value="0">--Select--</option>
          <option *ngFor="let f of supervisor" [value]="f.SupervisorKey">
            {{f.SupervisorText}}
          </option>
        </select>
      </div>
      <div class="col col-md-5"></div>
    </div>
    <div class="row col-md-12">
      <h5 style="text-align:right" class="col-md-4"><label for="Employee">Employee* </label></h5>
      <div class="md-form col-md-3" style="text-align:left">
        <ng-multiselect-dropdown [placeholder]="'Selectemployee'" [data]="empList" [(ngModel)]="Employee" [textField]="'EmployeeText'"
          [valueField]="'EmployeeKey'" [settings]="dropdownSettings1">
        </ng-multiselect-dropdown>
      </div>
      <div class="col col-md-5"></div>
    </div>

    <div class="row col-md-12">
      <div class="col col-md-3"></div>
      <div style="text-align:right" class="col-md-3">
        <a style="color:white !important" class="btn btn-success" (click)="updateMeetingTrainingEvent(
          mtngDetails.ActionKey,mtngDetails.Eventhost,mtngDetails.Venue,mtngDetails.MeetingNotes)"><b>Save</b>
        </a>
        <a routerLink="/MeetingTrainingView" class="btn btn-success" style="color:white !important" routerLinkActive="active"><b>Go
            Back</b></a>
      </div>
      <div class="col col-md-3"></div>
    </div>
  </div>
  <br><br>
</div>