<app-manager-dash-board></app-manager-dash-board>
<div style="width: 100%;height: 100%;">
  <div class="bg-dark" style="width: 100%;height: 100%;">
    <br><br>
    <h4 class="refer"><b> SEARCH MEETING/TRAINING/EVENT BY </b> </h4>
    <br>
    <div style="text-align:center">
      <a routerLink="/EventView" class="btn btn-primary" routerLinkActive="active">View / Edit
        Meeting/Training/Event</a>
    </div>
    <br>
    <!-- <div>
      <div>
        <label for="building">Job Title </label>

        <ng-multiselect-dropdown [placeholder]="'Selectjobtitle'" [data]="jobTitle" [(ngModel)]="JobTitleKey"
          [textField]="'JobTitleText'" [valueField]="'JobTitleKey'" [settings]="dropdownSettings" (onSelect)="filterMtngTrainingList()"
          (onSelectAll)="filterMtngTrainingList()">
        </ng-multiselect-dropdown>

        <br>

        <label for="building">Employee </label>

        <ng-multiselect-dropdown [placeholder]="'Selectemployee'" [data]="empList" [(ngModel)]="EmployeeKey"
          [textField]="'EmployeeText'" [valueField]="'EmployeeKey'" [settings]="dropdownSettings1" (onSelect)="filterMtngTrainingList()"
          (onSelectAll)="filterMtngTrainingList()">
        </ng-multiselect-dropdown>
        <br>
      </div>
      <div>
        <label for="building">From Date </label>
        <igx-datePicker [value]="date1" [(ngModel)]="fromdate" (onSelection)="filterMtngTrainingList()"></igx-datePicker>
        <br>
        <label for="building">To Date </label>
        <igx-datePicker [value]="date1" [(ngModel)]="todate" (onSelection)="filterMtngTrainingList()"></igx-datePicker>
        <br>
      </div>
    </div>

    <form [formGroup]="searchform">
      <div class="active-pink-3 active-pink-4 mb-4" style="margin-left: 1.5rem;margin-right: 1.5rem;">
        <input class="form-control" name="searchMeetingview" maxlength="20" specialIsAlphaNumeric minlength="3" type="text"
          placeholder="Search" aria-label="Search" [(ngmodel)]="SearchMeetingTraining" formControlName="SearchMeetingTraining"
          (input)="searchMeetingTraining($event.target.value);" style="width: 100%;">
        <div *ngIf="searchform.controls.SearchMeetingTraining.errors?.minlength">Minimum 3 characters required.</div>
      </div>
    </form> -->

    <div style="margin-left: 1.5rem;margin-right: 1.5rem;">
      <table class="table table-responsive table-hover table-bordered table">
        <thead class="tableHead">
          <td>Action Name</td>
          <td>Event Venue</td>
          <td>Event Host</td>
          <td>Employee Name</td>
          <td>Date</td>
          <td>Time</td>
          <td>Status</td>
          <td>Notes</td>
          <td>Action</td>
        </thead>
        <tbody>
          <tr *ngFor="let x of eventEmps" class="r2">
            <td>{{x.ActionType}} - {{x.Action}}</td>
            <td>{{x.EventVenue}}</td>
            <td>{{x.EventHost}}</td>
            <td>{{x.EmployeeName}}</td>
            <td>{{x.EventDate}}</td>
            <td>{{x.EventStartTime}} - {{x.EventEndTime}}</td>
            <td *ngIf="x.HasAttended == 0">Not Attended</td>
            <td *ngIf="x.HasAttended == 1">Attended</td>
            <td>{{ x.MeetingNotes }}</td>
            <td>
              <a routerLink="/MeetingTrainingEdit/{{ x.EventKey}}/{{x.ActionKey}}" *ngIf="x.HasAttended == 0" class="btn btn-primary">Edit</a>

              <a button type="button" mdbBtn color="primary" *ngIf="x.HasAttended == 0" class="relative waves-light"
                (click)="basicModal.show();deleteMeetingPass(x.EventKey); " mdbWavesEffect>Delete</a>

              <button (click)="markAttended(x.EmployeeKey, x.HasAttended, x.EventKey)" *ngIf="x.HasAttended == 0" class="btn btn-primary">Mark
                as Attended</button>
              <button (click)="markUnAttended(x.EmployeeKey, x.HasAttended, x.EventKey)" *ngIf="x.HasAttended == 1"
                class="btn btn-primary">Mark
                as UnAttended</button>

            </td>
          </tr>
          <tr *ngIf="eventEmps?.length == 0">
            <td colspan="7" class="no-data-available">No records found</td>
          </tr>
          <div mdbModal #basicModal="mdbModal" class="modal fade" role="dialog" aria-labelledby="myBasicModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete this?
                </div>
                <div class="modal-footer">
                  <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide(); deleteMeeting()"
                    mdbWavesEffect>Yes</button>
                  <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.hide()"
                    mdbWavesEffect>No</button>
                </div>
              </div>
            </div>
          </div>
        </tbody>
      </table>
    </div>

  </div>
</div>