<app-manager-dash-board></app-manager-dash-board>
<br><br>

<div class="py-5 " style="padding-left: 9rem;padding-right: 9rem;">
  <!-- <div class="container"> -->
  <div class="row col-md-12 ">
    <h3 style="margin-left: 25rem;">CREATE QUICK WORK ORDER</h3>
  </div>
  <br><br>
  <div style="margin-left: 1.5rem;margin-right: 1.5rem;" class="row bg-info col-md-12">
    <div class="col-md-6">
      <h1 style="text-align: right"></h1>
      <div class="form-group">
        <label>Employee</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="EmployeeKey"
          required>
          <option value="">--Select--</option>
          <option *ngFor="let e of EmployeeOption" [value]="e.EmployeeKey">
            {{e.EmployeeText}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Building*</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="FacilityKey"
          required>
          <option value="">--Select--</option>
          <option *ngFor="let b of facilitylist" [value]="b.FacilityKey">
            {{b.FacilityText}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Photo Required</label>
        <div class="md-form col-md-3">
          <input type="checkbox" [(ngModel)]="isPhotoRequired" data-md-icheck (change)="toggleVisibility($event)" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Workorder Notes*</label>
        <textarea class="form-control rounded-0" maxlength="200" [(ngModel)]="WorkorderNotes" rows="6" style="resize: none;"></textarea>
      </div>
      <div class="form-group">
        <label>Priority Level</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="PriorityKey"
          required>
          <option value="">--Select--</option>
          <option *ngFor="let b of prioritylist" [value]="b.PriorityKey">
            {{b.PriorityText}}
          </option>
        </select>
      </div>
    </div>
    <br>
    <div class="row col-md-12">
      <div class="col-md-6"></div>
      <div style="text-align:center">
        <a style="color:white !important" class="btn btn-success" (click)="saveQuickWorkOrder()"><b>SAVE</b>
        </a>
        <br><br>
      </div>
    </div>
  </div>
</div>