<app-manager-dash-board></app-manager-dash-board>
<br><br>
<div style="background-color: #FFFFFF;margin-left: 15rem;margin-right: 15rem;">
  <br><br>
  <div style="text-align:center">
    <h3 style="color: #174a5e;"><strong>EDIT EQUIPMENT</strong></h3>
  </div>

  <br>
  <div class="col-md-12">
    <div class=" col-md-6">
      <label for="Equipmentname">Equipment Type name*</label>
      <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="equipEditList[0].EquipmentTypeKey"
        (change)="setEquipmentTypeKey($event.target.value)">
        <option>--Select--</option>
        <option *ngFor="let b of equipmentType" [value]="b.EquipmentTypeKey">
          {{b.EquipmentTypeText}}
        </option>
      </select>
    </div>
    <div class=" col-md-6">
      <label for="equipmentname">Equipment name*</label>
      <input type="text" style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="equipEditList[0].EquipmentName">
    </div>
    <!-- </div> -->
    <br><br><br>
    <!-- <div class=" col-lg-12 col-md-12 col-sm-12 "> -->
    <label for="EquipmentDescription">Equipment Description</label>
    <div>
      <input type="text" style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="equipEditList[0].EquipmentDescription">
    </div>
    <label for="EquipmentBarcode">Equipment Barcode*</label>
    <div>
      <input type="text" style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="equipEditList[0].EquipmentBarcode">
    </div>

    <br><br><br>
    <label for="EquipmentDescription">Building*</label>
    <div>
      <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="equipEditList[0].FacilityKey"
        (change)="selectFloorfromBuildings($event.target.value)">
        <option>--Select--</option>
        <option *ngFor="let b of buildings" [value]="b.FacilityKey">
          {{b.FacilityText}}
        </option>
      </select>
    </div>

    <label for="EquipmentBarcode">Floor*</label>
    <div>
      <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="equipEditList[0].FloorKey"
        (change)="floorValueSet($event.target.value)">
        <!-- <span *ngIf="floors"> -->
        <option>--Select--</option>
        <option *ngFor="let b of floors" [value]="b.FloorKey">
          {{b.FloorName}}
        </option>
        <!-- </span> -->
      </select>
    </div>
    <!-- </div> -->
    <div class="row col-md-12">
      <div class="col col-md-3"></div>
      <div style="text-align:right">
        <a style="color:white !important" class="btn btn-success" (click)="updateEquipment(equipEditList[0].EquipmentName,equipEditList[0].EquipmentDescription,equipEditList[0].EquipmentBarcode)"><b>Save
            Equipment</b>
        </a></div>
      <div style="text-align:left">
        <a routerLink="/EquipmentView" class="btn btn-success" style="color:white !important" routerLinkActive="active"><b>Go
            Back
          </b>
        </a></div>
      <div class="col col-md-3"></div>
    </div>
  </div>
  <br><br>
</div>