<app-manager-dash-board></app-manager-dash-board>
<div style="width: 100%;height: 100%;">
  <div class="bg-dark" style="width: 100%;height: 100%;">
    <br><br>
    <h4 class="refer"><b> BATCH WORK-ORDER NAME</b> </h4>
    <br>
    <div style="text-align:center">
      <a routerLink="/CreateBatchWork" class="btn btn-primary" routerLinkActive="active">Create Schedule Name
      </a>
    </div>
    <form [formGroup]="searchform">
      <div class="active-pink-3 active-pink-4 mb-4" style="margin-left: 1.5rem;margin-right: 1.5rem;">
        <input class="form-control" name="searchScheduleView" type="text" maxlength="20" specialIsAlphaNumeric
          minlength="3" placeholder="Search" aria-label="Search" [(ngmodel)]="SearchSchedule" formControlName="SearchSchedule"
          (input)="searchSchedule($event.target.value);" style="width: 100%;">
        <div *ngIf="searchform.controls.SearchSchedule.errors?.minlength">Minimum 3 characters required.</div>
      </div>
    </form>

    <div style="margin-left: 1.5rem;margin-right: 1.5rem;">
      <table class="table table-responsive table-hover table-bordered table">
        <thead class="tableHead">
          <th> Schedule Name </th>
          <th>Schedule Description</th>
          <th> Employee </th>
          <th> Edit </th>
        </thead>
        <tbody>
          <tr *ngFor="let z of scheduleList">
            <td>{{z.BatchSchduleName}}</td>
            <td>{{z.ScheduleDescription}}</td>
            <td>{{z.EmployeeText}}</td>
            <td>
              <div style="text-align:center">
                <a routerLink="/EditBatchWork/{{z.BatchScheduleNameKey}}" class="btn btn-primary" routerLinkActive="active">Edit</a>
              </div>
            </td>
          </tr>
          <tr *ngIf="scheduleList?.length == 0">
            <td colspan="4" class="no-data-available">No records found</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success" style="float: left;" (click)="previousPage()" *ngIf="showHide1">&#60;&#60;
        Previous</button>
      <button class="btn btn-success" style="float: right;" (click)="nextPage()" *ngIf="showHide2">Next >></button>
    </div>
  </div>
</div>