<app-manager-dash-board></app-manager-dash-board>
<br><br>
<div style="background-color: #FFFFFF;margin-left: 15rem;margin-right: 15rem;">
  <br><br>
  <div style="text-align:center">
    <h3 style="color: #174a5e;"><strong>EDIT DEFAULT MEETING/TRAINING/EVENT</strong></h3>
  </div>

  <br>
  <div class="col-md-12">
    <div class="row col-md-12">
      <h5 style="margin-top: 2rem;text-align:right" class="col-md-4"><label for="department">Event Type: </label></h5>
      <div class="md-form col-md-3" style="text-align:left">
        <input  type="text" style="background-color: #D4F4FF !important;width: 30rem" class="form-control"
          id="Department" [(ngModel)]="dept.ActionType">
      </div>
      <div class="col col-md-5"></div>
    </div>
    <div class="row col-md-12">
      <h5 style="margin-top: 2rem;text-align:right" class="col-md-4"><label for="department">Event Name: </label></h5>
      <div class="md-form col-md-3" style="text-align:left">
        <input  type="text" style="background-color: #D4F4FF !important;width: 30rem" class="form-control"
          id="Department" [(ngModel)]="dept.Action">
      </div>
      <div class="col col-md-5"></div>
    </div>
    <div class="row col-md-12">
      <h5 style="margin-top: 2rem;text-align:right" class="col-md-4"><label for="department">Event Description: </label></h5>
      <div class="md-form col-md-3" style="text-align:left">
        <input  type="text" style="background-color: #D4F4FF !important;width: 30rem" class="form-control"
          id="Department" [(ngModel)]="dept.Description">
      </div>
      <div class="col col-md-5"></div>
    </div>
    <div class="row col-md-12">
      <div class="col col-md-3"></div>
      <div style="text-align:right" class="col-md-3">
        <a style="color:white !important" class="btn btn-success" (click)="updateEventType(dept.ActionType,dept.Action,dept.Description)"><b>Update</b>
        </a></div>
      <div style="text-align:left" class="col-md-3">
        <a routerLink="/EventView" class="btn btn-success" style="color:white !important" routerLinkActive="active"><b>Go
            Back
          </b>
        </a></div>
      <div class="col col-md-3"></div>
    </div>
  </div>
  <br><br>
</div>