<app-manager-dash-board></app-manager-dash-board>
<div class="py-5 r1">
    
    <div class="row">
      <div class="col-md-3">
        <img class="img-fluid d-block" src="assets/img/wo1.png"><br>
        <img class="img-fluid d-block" src="assets/img/inspection.png">
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <h1 class="">Work Order Status<br> </h1>
        <div class="row">
          <div class="col-md-4 column">
            <table class="table table-responsive">
              <thead class="grey-text">
                <th colspan="3" class="tableHead">
                  COMPLETED-TODAY
                </th>
              </thead>
              <thead>
                <tr class="r2">
                  <th><b>#</b></th>
                  <th><b>Employee Name</b></th>
                  <th><b>Count</b></th>
                </tr>
              </thead>
              <tbody>
                <tr class="r2">
                  <td>1</td>
                  <td>Anaya Susan </td>
                  <td>10</td>
                </tr>
                <tr class="r2">
                  <td>2</td>
                  <td>Bonner Maria </td>
                  <td>7</td>
                </tr>
                <tr class="r2">
                  <td>3</td>
                  <td>Felix Lorena </td>
                  <td>9</td>
                </tr>
                <tr class="r2">
                  <td>4</td>
                  <td>Hill Kristi </td>
                  <td>3</td>
                </tr>
                <tr class="r2">
                  <td>5</td>
                  <td>Mora Lorenza </td>
                  <td>5</td>
                </tr>
                <tr class="r2">
                  <td>6</td>
                  <td>Moses Patricia </td>
                  <td>6</td>
                </tr>
                <tr class="r2">
                  <td>7</td>
                  <td>Samuel Wynona </td>
                  <td>0</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4 column">
            <table class="table table-responsive">
              <thead>
                <th colspan="3" class="tableHead">
                  PENDING-TODAY
                </th>
              </thead>
              <thead>
                <tr class="r2">
                  <th><b>#</b></th>
                  <th><b>Employee Name</b></th>
                  <th><b>Count</b></th>
                </tr>
              </thead>
              <tbody>
                <tr class="r2">
                  <td>1</td>
                  <td>Anaya Susan </td>
                  <td>2</td>
                </tr>
                <tr class="r2">
                  <td>2</td>
                  <td>Bonner Maria </td>
                  <td>5</td>
                </tr>
                <tr class="r2">
                  <td>3</td>
                  <td>Felix Lorena </td>
                  <td>3</td>
                </tr>
                <tr class="r2">
                  <td>4</td>
                  <td>Hill Kristi </td>
                  <td>9</td>
                </tr>
                <tr class="r2">
                  <td>5</td>
                  <td>Mora Lorenza </td>
                  <td>7</td>
                </tr>
                <tr class="r2">
                  <td>6</td>
                  <td>Moses Patricia </td>
                  <td>6</td>
                </tr>
                <tr class="r2">
                  <td>7</td>
                  <td>Samuel Wynona </td>
                  <td>12</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> 

  </div>
   <div class="text-white bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-sm-center">
            © 2018 TrooWork - All Rights Reserved /Privacy Policy/ Sitemap
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>