<app-admin-dashboard></app-admin-dashboard>
<br><br>
<div style="background-color: #FFFFFF;margin-left: 15rem;margin-right: 15rem;">
  <br><br>
  <div style="text-align:center">
    <h3 style="color: #174a5e;"><strong>Create Job-Title </strong></h3>
  </div>

  <br>
  <div class="col-md-12">
    <div class="row col-md-12">
      <h5 style="margin-top: 2rem;text-align:right" class="col-md-4"><label for="building" >Job-Title* </label></h5>
      <div class="md-form col-md-3" style="text-align:left">
        <input  type="text" style="background-color: #D4F4FF !important;width: 30rem" maxlength="15" class="form-control"   id="Building" [(ngModel)]="JobtitleName">
      </div>
      <div class="col col-md-5"></div>
    </div>
    <div class="row col-md-12">
      <h5 style="margin-top: 2rem;text-align:right" class="col-md-4"><label for="building" >Job-Title Description* </label></h5>
      <div class="md-form col-md-3" style="text-align:left">
        <input  type="text" style="background-color: #D4F4FF !important;width: 30rem" maxlength="20" class="form-control"  id="Building" [(ngModel)]="JobTitleDescription">
      </div>
      <div class="col col-md-5"></div>
    </div>
    <div class="row col-md-12">
      <div class="col col-md-3"></div>
      <div style="text-align:right" class="col-md-3">
        <a style="color:white !important"  class="btn btn-success"
          routerLinkActive="active" (click)="addNewJobtitle(JobtitleName,JobTitleDescription)"><b>Add</b>
        </a></div>
      <div style="text-align:left" class="col-md-3">
        <a routerLink="/JobTitleViewAdmin" class="btn btn-success" style="color:white !important" routerLinkActive="active"><b>Go
            Back
          </b>
        </a></div>
      <div class="col col-md-3"></div>
    </div>
  </div>
  <br><br>
</div>