<app-manager-dash-board></app-manager-dash-board>
<div style="background-color: #FFFFFF;margin-left: 15rem;margin-right: 15rem;">
  <br><br>
  <div style="text-align:center">
    <h3 style="color: #174a5e;"><strong>INSPECTION TEMPLATE</strong></h3>
  </div>

  <br>
  <div class="col-md-12">
    <div class="row col-md-12">
      <h5 style="margin-top: 2rem;text-align:right" class="col-md-4"><label for="scoringtype" >Scoring Type* </label></h5>
      <div class="md-form col-md-3" style="text-align:left">
          <select style="background-color: #D4F4FF !important;width: 31.5rem" class="form-control"  [(ngModel)]="ScoreTypeKey">
              <option >--Select--</option>
              
              <option *ngFor="let s of scores" [value]="s.ScoreTypeKey">
                  {{s.ScoreTypeText}}
              </option>
          </select>
      </div>
      <div class="col col-md-5"></div>
    </div>
    <div class="row col-md-12">
        <h5 style="text-align:right" class="col-md-4"><label for="inspectiontemplatename" >Inspection Template Name* </label></h5>
        <div class="md-form col-md-3" style="text-align:left">
            <input type="text"  maxlength="40" style="background-color: #D4F4FF !important;width: 30rem" class="form-control"  [(ngModel)]="InspTempName"> 
          </div>
        <div class="col col-md-5"></div>
      </div>
      <table class="table table-striped table-bordered">
          <tbody>
              <!-- already present array -->
              <tr *ngFor="let field of fieldArray">
                <td>
                  <input [(ngModel)]="field.question" class="form-control" type="text" value="{{field.question}}" />
                </td>
                <td>
                  <button class="btn btn-danger" type="button" (click)="deleteFieldValue(i)">DELETE QUESTION</button>
                </td>
              </tr>
          <!-- new space to enter values -->
              <tr>
                <td>
                  <input class="form-control" placeholder="Enter the Question,Don't copy paste" maxlength="80" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.question" name="newAttributeCode" />
                </td>
                <td>
                  <button class="btn btn-success" type="button" (click)="addFieldValue()">ADD QUESTION</button>
                </td>
              </tr>
              <button class="btn btn-success" type="button" (click)="valuesSave(ScoreTypeKey,InspTempName)">SAVE</button>
            </tbody>
          </table>
  </div>
  <br><br>
</div>