<app-manager-dash-board></app-manager-dash-board>

<div style="background-color: #FFFFFF;margin-left: 15rem;margin-right: 15rem;">
 
  <div style="text-align:center">
    <h3 style="color: #174a5e;"><strong>DEPARTMENT EDIT</strong></h3>
  </div>

  <br>
  <div class="col-md-12">
    <div class="row col-md-12">
      <h5 style="text-align:right" class="col-md-4"><label for="department">Department Name: </label></h5>
      <div class="col-md-8" style="text-align:left">
        <input *ngIf="dept" type="text" maxlength="30" style="background-color: #D4F4FF !important;" class="form-control" id="Department"
          [(ngModel)]="dept.DepartmentName">
      </div>
    </div>
    <br>
    <div class="row col-md-12">
      <div class="col col-md-3"></div>
      <div class="col-md-9">
        <a style="color:white !important" class="btn btn-success" (click)="updateDepartment(dept.DepartmentName)"><b>Update</b>
        </a>
        <a routerLink="/DepartmentView" class="btn btn-warning" style="color:white !important" routerLinkActive="active"><b>Go
            Back
          </b>
        </a></div>
    </div>
  </div>
 
</div>