<app-admin-dashboard></app-admin-dashboard>
<br><br>
<div style="background-color: #FFFFFF;margin-left: 15rem;margin-right: 15rem;">
  <br><br>
  <div style="text-align:center">
    <h3 style="color: #174a5e;"><strong>BUILDING EDIT</strong></h3>
  </div>

  <br>
  <div class="col-md-12">
    <div class="row col-md-12">
      <h5 style="margin-top: 2rem;text-align:right" class="col-md-4"><label for="building" >Job-Title* </label></h5>
      <div class="md-form col-md-3" style="text-align:left">
        <input *ngIf="JobtitleDetails" type="text" maxlength="15" style="background-color: #D4F4FF !important;width: 30rem" class="form-control"  id="JobTitle" [(ngModel)]="JobtitleDetails[0].JobTitle">
      </div>
      <div class="col col-md-5"></div>
    </div>
    <div class="row col-md-12">
      <h5 style="text-align:right" class="col-md-4"><label for="building" >Job-Title Description* </label></h5>
      <div class="md-form col-md-3" style="text-align:left">
        <input *ngIf="JobtitleDetails" type="text" maxlength="20" style="background-color: #D4F4FF !important;width: 30rem" class="form-control"  id="JobTitle" [(ngModel)]="JobtitleDetails[0].JobTitleDescription">
      </div>
      <div class="col col-md-5"></div>
    </div>
    <div class="row col-md-12">
      <div class="col col-md-3"></div>
      <div style="text-align:right" class="col-md-3">
        <a style="color:white !important"  class="btn btn-success"
          routerLinkActive="active" (click)="updateJobTitle(JobtitleDetails[0].JobTitle,JobtitleDetails[0].JobTitleDescription)"><b>Update</b>
        </a></div>
      <div style="text-align:left" class="col-md-3">
        <a routerLink="/JobTitleView" class="btn btn-success" style="color:white !important" routerLinkActive="active"><b>Go
            Back
          </b>
        </a></div>
      <div class="col col-md-3"></div>
    </div>
  </div>
  <br><br>
</div>