<app-manager-dash-board></app-manager-dash-board>
<br><br>

<div style="background-color: #FFFFFF;margin-left: 15rem;margin-right: 15rem;">
  <br><br>
  <div style="text-align:center">
    <h3 style="color: #174a5e;"><strong>REPORTS ON  BATCH SCHEDULES</strong></h3>
  </div>

  <br>
  <!-- <div class="col-md-6">
    <div class="form-group">
      <h5 style="margin-top: 2rem;text-align:right" class="col-md-4"><label for="scheduling" >Schedule Name: </label></h5>
      <div class="md-form col-md-3" style="text-align:left">
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control"  >
          <option >--Select--</option>
         
      </select> 
      </div>
      </div> -->

      <!-- <div class="col-md-6">
          
          <!-- <form class="" method="post" action="https://formspree.io/"> -->
          <!-- <div class="form-group">
            <label >Schedule Name:</label>
              <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control">
              <option >--Select--</option>
               </select>         
               </div> -->

              


      <!-- <div class="form-group">
        <h5 style="margin-top: 2rem;text-align:right" class="col-md-4"><label for="scheduling" >Workorder Notes: </label></h5>
        <div class = "col-sm-3 col-md-3 col-lg-3">
          <textarea ng-model="batch.WorkorderNotes" cols="45" rows="4" class="form-control" maxlength="200"></textarea>
      </div>
  </div> -->

  <!-- <div class="form-group">
      <label>Workorder Notes:</label>
      <textarea cols="45" rows="4" class="form-control" maxlength="200"></textarea>
            
         </div>
  
  </div>

  <div class="col-md-6">
      <div class="form-group">
          <label>Employee:</label>
              
        <input type="text"  class="form-control">
    


      </div>


      </div> -->

      <div class="col-md-12">
          <div class="row col-md-12">
            <h5 style="margin-top: 2rem;text-align:right" class="col-md-4"><label for="scheduling" >Schedule Name: </label></h5>
            <div class="md-form col-md-3" style="text-align:left">
                <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control"  >
                  <option >--Select--</option>
                 
              </select> 
              </div>
          </div>
          
      
          <div class="col-md-12">
            <div class="row col-md-12">
              <h5 style="margin-top: 2rem;text-align:right" class="col-md-4"><label for="scheduling" >WorkOrder Notes: </label></h5>
              <div class = "col-sm-3 col-md-3 col-lg-3">
                  <textarea  cols="45" rows="4" class="form-control" maxlength="200"></textarea>
              </div>
      </div>
    
        <div class="col-md-12">
              <div class="row col-md-12">
                <h5 style="margin-top: 2rem;text-align:right" class="col-md-4"><label for="scheduling" >Employee: </label></h5>
                <div class="md-form col-md-3" style="text-align:left">
                    <input type="text" style="background-color: #D4F4FF !important;width: 30rem" class="form-control">
                  </div>
          
          </div>
          </div>
          </div>
          </div>
          </div>
            
          
  
      
        
      




<!-- Table for generating barcode for BatchSchedule -->
<table class="table table-hover table-responsive table-bordered table">
    <thead class="tableHead">
      <!-- <tr> -->
      <th> Building </th>
      <th> Floor </th>
      <th> Zone</th>
      <th>Room Numbe</th>
      <th> Floor Type</th>
      <th>Room Types</th>
      <th>Minutes</th>
      <th> Frequency</th>
      
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>

      <th>Photo Required</th>
      <th>Barcode Required</th>
      
      
      
      <!-- </tr> -->
    </thead>
    <tbody>
      
    </tbody>
  </table>

    

  
    
    