<div class="bg-dark" style="margin-top: -2rem;">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-dark navbarspacing">
    <a class="navbar-brand" href="http://troodontechnology.com/">
      <img src="assets/img/TROOWORK.png" style="width: 10rem;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" style="margin-left: 15%;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <img class="imagesize nav-link" src="assets/icons/homepage.png" routerLink="/welcomeEmployee">
        </li>
        <li class="nav-item">
          <img class="imagesize nav-link" src="assets/icons/work order.png">
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" data-toggle="dropdown" src="assets/icons/people.png" routerLink="">

        </li>

        <li class="nav-item dropdown">
          <img class="imagesize nav-link" src="assets/icons/welcome.png">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/employeeMyProfile">My Profile</a>
            <a class="dropdown-item" routerLink="">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div style="height:100%;background-color: #EBFAFF;">

  </div>
</div>