<div class="bg-dark" style="margin-top: -2rem;">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-dark navbarspacing">
    <a class="navbar-brand" href="http://troodontechnology.com/">
      <img src="assets/img/TROOWORK.png" style="width: 10rem;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" style="margin-left: 15%;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <img class="imagesize nav-link" src="assets/icons/homepage.png" routerLink="/welcomePage">
        </li>
        <li class="nav-item">
          <img class="imagesize nav-link" src="assets/icons/work order.png">
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" data-toggle="dropdown" src="assets/icons/people.png">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/addEmployee">Create Employee</a>
            <a class="dropdown-item" routerLink="/MeetingTrainingCreate">Create Meeting/Training</a>
            <a class="dropdown-item" routerLink="/MeetingTrainingView">View Meeting/Training</a>
            <a class="dropdown-item" routerLink="/manageLoginCredentials">Manage Login Credentials</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" data-toggle="dropdown" src="assets/icons/reports.png">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/WorkorderReport">WorkOrder</a>
            <a class="dropdown-item" routerLink="/Inspection-Report">Inspection</a>
            <a class="dropdown-item" routerLink="/BarcodeReport">Barcode</a>
            <a class="dropdown-item" routerLink="/Dashboard-Report">Dashboard Report</a>
          </div>
        </li>
        <li class="nav-item">
          <img class="imagesize nav-link" src="assets/icons/scheduling.png">
        </li>
        <li class="nav-item">
          <img class="imagesize nav-link" src="assets/icons/forms.png">
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" src="assets/icons/inspection.png">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/InspectionCreate">Inspection Create</a>
            <a class="dropdown-item" routerLink="/CreateInspectionTemplate">Create Inspection Template</a>
            <a class="dropdown-item" routerLink="/InspectiontemplateandquestionsView">View Inspection Template</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" data-toggle="dropdown" src="assets/icons/inventory.png">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="/Buildview">Building</a>
            <a class="dropdown-item" routerLink="/Floorview">Floor</a>
            <a class="dropdown-item" routerLink="/Zoneview">Zone</a>
            <a class="dropdown-item" routerLink="/roomView">Room</a>
            <a class="dropdown-item" routerLink="/EquipmentView">Equipment</a>
            <a class="dropdown-item" routerLink="/DepartmentView">Department</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <img class="imagesize nav-link" src="assets/icons/welcome.png">
          <div class="dropdown-content" style="margin-left:1rem;">
            <a class="dropdown-item" routerLink="">Log Out</a>
          </div>
        </li>
      </ul>
      <!--  <span class="navbar-text white-text">
            Navbar text with an inline element
        </span> -->
    </div>
  </nav>
  <!-- <div class="text-white bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-sm-center">
            © 2018 TrooWork - All Rights Reserved /Privacy Policy/ Sitemap
            <br>
          </p>
        </div>
      </div>
    </div>
  </div> -->
  <div style="height:100%;background-color: #EBFAFF;">

  </div>
</div>