<app-manager-dash-board></app-manager-dash-board>
<br><br>
<div style="background-color: #FFFFFF;margin-left: 15rem;margin-right: 15rem;">
  <br><br>
  <div style="text-align:center">
    <h3 style="color: #174a5e;"><strong>CREATE ASSIGNMENT NAME</strong></h3>
  </div>

  <br>
  <div class="col-md-12">
    <div class="row col-md-12">
      <h5 style="text-align:right" class="col-md-4"><label for="scheduling">Assignment Name: </label></h5>
      <input type="text" style="background-color: #D4F4FF !important;" class="form-control col-md-8 col-lg-8 col-sm-8"
        [(ngModel)]="scheduleName">
    </div>
    <br>
    <div class="row col-md-12">
      <h5 style="text-align:right" class="col-md-4"><label for="scheduling">Assignment Description:
        </label></h5>
      <input type="text" style="background-color: #D4F4FF !important;" class="form-control col-md-8 col-lg-8 col-sm-8"
        [(ngModel)]="scheduleDescription">
    </div>
    <br>
    <div class="row col-md-12">
      <h5 style="text-align:right" class="col-md-4"><label for="scheduling">Employee: </label></h5>
      <select style="background-color: #D4F4FF !important;" (change)="setEmployeeForbatchSchedule($event.target.value)"
        class="form-control col-md-8 col-lg-8 col-sm-8" [(ngModel)]="employeeKey">
        <option>--Select--</option>
        <option *ngFor="let b of empList" [value]="b.EmployeeKey">
          {{b.EmployeeText}}
        </option>
      </select>
    </div>
    <br>
    <div class="row col-md-12" style="margin-left: 15rem;">
      <a style="color:white !important" (click)="createScheduleName()" class="btn btn-success"><b>Create Assignment Name</b></a>
      <a routerLink="/SchedulingView" class="btn btn-warning" style="color:white !important" routerLinkActive="active"><b>Go
          Back </b>
      </a>
    </div>
  </div>
</div>