<app-supervisor-dashboard></app-supervisor-dashboard>
<!-- <img *ngIf="loading" src="../../../../../assets/img/loader.gif" style="margin-left: 35rem; width: 20%" /> -->
<div *ngIf="!loading" class="py-5 " style="padding-left: 9rem;padding-right: 9rem;">
  <!-- <div class="container"> -->
  <div class="row col-md-12 ">
    <h3 style="margin-left: 25rem;">VIEW INSPECTION ORDER</h3>
  </div>
  <br><br>
  
      <h1 style="text-align: right"></h1>
      <div class="col-md-12">
        <form [formGroup]="searchform"> 
          <div class="active-pink-3 active-pink-4 mb-4" style="margin-left: 1.5rem;margin-right: 1.5rem;">
             <input class="form-control" name="searchtl" maxlength="20" specialIsAlphaNumeric minlength="3" type="text"
               placeholder="Search Template,Location" aria-label="Search" [(ngmodel)]="SearchTL" formControlName="SearchTL"
               (input)="searchTL($event.target.value);" style="width: 100%;">
             <div *ngIf="searchform.controls.SearchTL.errors?.minlength">Minimum 3 characters required.</div>
           </div> 
          </form> 
         <!-- </div> -->
         <div style="margin-left: 1.5rem;margin-right: 1.5rem;" class="row bg-info col-md-12">
          <table class="table table-responsive table-hover table-bordered table">
            <thead class="tableHead">
              <th> Template </th>
              <th>Location</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let i of inspectionordertable" >
                <td>{{i.TemplateName}} </td>
                <td>{{i.FacilityName}}-{{i.RoomId}} </td>
                <td *ngIf="i.InspectionCompletedBy === null && ('' + i.EmployeeKey === toServeremployeekey)"> <a routerLink="/Supervsrinspectiontemplate/{{i.InspectionOrderKey}}" class="btn btn-primary">Inspect</a></td>
                <td *ngIf="i.InspectionCompletedBy !== null"> <a routerLink="/Supervsrinspectiontemplate/{{i.InspectionOrderKey}}" class="btn btn-primary">Inspection Completed </a></td>
                <!-- <td *ngIf="i.InspectionCompletedBy === null && ('' + i.EmployeeKey === toServeremployeekey)"> <a routerLink="/Managerinspectiontemplate/{{i.InspectionOrderKey}}" class="btn btn-primary">Inspect</a></td>
                <td *ngIf="i.InspectionCompletedBy === null && ('' + i.EmployeeKey !== toServeremployeekey)">Scheduled</td> --> 
              </tr>
              <tr *ngIf="inspectionordertable?.length == 0">
                <td colspan="2" class="no-data-available">No records found</td>
              </tr>
            </tbody>
            </table>
  </div>
</div>
    
    
