
<app-manager-dash-board></app-manager-dash-board>
<div class="py-5 " style="padding-left: 9rem;padding-right: 9rem;">
  <!-- <div class="container"> -->
    <div style="text-align:center">
    <h3> {{inspectioneddetails[0].RoomType}} - {{inspectioneddetails[0].RoomId}} Inspection Report  </h3>
    <h5><b>Inspected by {{inspectioneddetails[0].SupervisorName}} on {{inspectioneddetails[0].EmployeeName}}</b></h5><br><br>
    <h4>{{inspectioneddetails[0].TemplateName}}</h4>
  </div>
  <br><br>
  <div style="margin-left: 1.5rem;margin-right: 1.5rem;">
   
    <table class="table table-responsive table-hover table-bordered table">
       
      <thead class="tableHead">
          <td>Template Questions</td>
          <td>Score Type - {{inspectioneddetails[0].ScoreName}}</td>
          <td>Notes</td>
      </thead>
      <tbody>
        <tr *ngFor="let x of inspectioneddetails" >
            <td>{{x.Question}}</td>
            <td>{{x.Value}}</td>
            <td>{{x.Notes}}</td>
        </tr>
      </tbody>
      </table>
      <a routerLink="/InspectionView" class="btn btn-success">Done</a>
</div>
