<app-manager-dash-board></app-manager-dash-board>
<br><br>

<div class="py-5 " style="padding-left: 9rem;padding-right: 9rem;">
  <!-- <div class="container"> -->
  <div class="row col-md-12 ">
    <h3 style="margin-left: 25rem;">EDIT THIS WORK ORDER INSTANCE</h3>
  </div>
  <br><br>
  <div style="margin-left: 1.5rem;margin-right: 1.5rem;" class="row bg-info col-md-12">
    <div class="col-md-6">
      <h1 style="text-align: right"></h1>
      <div class="form-group">
        <label>Workorder Type*</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="workordertypekey"
          required>
          <option value="">--Select--</option>
          <option *ngFor="let e of workorderTypeList" [value]="e.WorkorderTypeKey">
            {{e.WorkorderTypeText}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Building*</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="FacilityKey"
          (change)="getFloorDisp($event.target.value);" required>
          <option value="">--Select--</option>
          <option *ngFor="let b of facilitylist" [value]="b.FacilityKey">
            {{b.FacilityText}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Floor*</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="FloorKey"
          [disabled]="!FacilityKey" (change)="getZoneRoomTypeRoom($event.target.value,FacilityKey);getEquiment($event.target.value,FacilityKey);"
          required>
          <option value="">--Select--</option>
          <option *ngFor="let b of FloorList" [value]="b.FloorKey">
            {{b.FloorName}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Zone</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="ZoneKey"
          [disabled]="!FloorKey||(showEqTypes==true)" (change)="getRoomTypeRoom($event.target.value,FacilityKey,FloorKey);"
          required>
          <option value="">--Select--</option>
          <option *ngFor="let b of zonelist" [value]="b.ZoneKey">
            {{b.ZoneName}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Room Type</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="RoomTypeKey"
          [disabled]="!FloorKey||(showEqTypes==true)" (change)="getRoom($event.target.value,ZoneKey,FacilityKey,FloorKey);"
          required>
          <option value="">--Select--</option>
          <option *ngFor="let b of RoomTypeList" [value]="b.RoomTypeKey">
            {{b.RoomTypeName}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Room</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="RoomKey"
          [disabled]="!FloorKey||(showEqTypes==true)" required>
          <option value="">--Select--</option>
          <option *ngFor="let b of RoomList" [value]="b.RoomKey">
            {{b.RoomName}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Priority Level</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="PriorityKey"
          required>
          <option value="">--Select--</option>
          <option *ngFor="let b of priorityList" [value]="b.PriorityKey">
            {{b.PriorityText}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>WorkDate</label><br>
        <igx-datePicker [value]="date" [(ngModel)]="dateValue"></igx-datePicker>
      </div>
    </div>
    <div class="col-md-6">
      <h1 style="text-align: right"></h1>
      <div class="form-group">
        <label>Workorder Notes</label>
        <textarea class="form-control rounded-0" [(ngModel)]="WorkorderNotes" rows="6" style="resize: none;"></textarea>
      </div>
      <div class="form-group">
        <label style="margin-top: 2rem;" class="col-sm-3 col-md-3 col-lg-3 ">Is Equipment</label>
        <input type="checkbox" [(ngModel)]="showEqTypes" data-md-icheck (change)="toggleVisibility($event);change_values();" />
      </div>
      <div class="form-group">
        <label>Equipment Type</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="EquipmentTypeKey"
          [disabled]="(showEqTypes==false)" (change)="showEquipment_typechange($event.target.value,FacilityKey,FloorKey)"
          required>
          <option value="">--Select--</option>
          <option *ngFor="let e of EquipmentTypeList" [value]="e.EquipmentTypeKey">
            {{e.EquipmentTypeText}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Equipment Name</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="EquipmentKey"
          [disabled]="(showEqTypes==false)" required>{{EquipmentKey}}
          <option value="">--Select--</option>
          <option *ngFor="let e of EquipmentList" [value]="e.EquipmentKey">
            {{e.EquipmentName}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Employee</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="EmployeeKey"
          required>
          <option value="">--Select--</option>
          <option *ngFor="let e of EmployeeOption" [value]="e.EmployeeKey">
            {{e.EmployeeText}}
          </option>
        </select>
      </div>
      <!-- <div class="form-group">
        <label style="margin-top: 2rem;" class="col-sm-3 col-md-3 col-lg-3 ">Time*</label>
        <p-calendar [(ngModel)]="timetable.times[i]" *ngFor=" let field of timetable.times;let i = index" [timeOnly]="true" hourFormat="12" required></p-calendar>
      </div> -->
        <div class="form-group">
        <label style="margin-top: 2rem;" class="col-sm-3 col-md-3 col-lg-3 ">Time*</label>
        <p-calendar [(ngModel)]="timeValue"  [timeOnly]="true" hourFormat="12" required></p-calendar>
      </div>
    </div>
    <div class="row col-md-12">
      <div class="col-md-6">
        <div class="form-group">
          <label style="margin-top: 2rem;" class="col-sm-3 col-md-3 col-lg-3 ">Photo Required</label>
          <input type="checkbox" [(ngModel)]="isPhotoRequired" data-md-icheck (change)="toggleVisibility($event)" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label style="margin-top: 2rem;" class="col-sm-3 col-md-3 col-lg-3 ">Barcode Required</label>
          <input type="checkbox" [(ngModel)]="isBarcodeRequired" data-md-icheck (change)="toggleVisibility($event)" />
        </div>
      </div>
      <div class="row col-md-12">
        <div class="col col-md-3"></div>
        <div style="text-align:left" class="col-md-3">
          <button type="button" class="btn btn-success" (click)=UpdateWO()><b>UPDATE</b></button>
        </div>
        <div style="text-align:left" class="col-md-3">
          <a routerLink="/ViewWorkOrder" class="btn btn-warning" style="color:white !important" routerLinkActive="active"><b>Go
              Back
            </b>
          </a></div>
        <div style="text-align:left" class="col-md-3">
          <button type="button" class="btn btn-danger button_style" (click)=DeleteWO()><b>DELETE</b></button>
        </div>
        <div class="col col-md-3"></div>
      </div>
    </div>
  </div>
</div>