<app-manager-dash-board></app-manager-dash-board>
<br><br>

<div class="py-5 " style="padding-left: 9rem;padding-right: 9rem;">
  <!-- <div class="container"> -->
  <div class="row col-md-12 ">
    <h3 style="margin-left: 25rem;">VIEW BATCH WORK ORDER</h3>
  </div>
  <br><br>
  <div style="margin-left: 1.5rem;margin-right: 1.5rem;" class="row bg-info col-md-12">
    <div class="col-md-6">
      <h1 style="text-align: right"></h1>
      <div class="form-group">
        <label>Building*</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="FacilityKey"
          (change)="getFloorDisp($event.target.value);viewWO_Filter();" required>
          <option value="">--Select--</option>
          <option *ngFor="let b of facilitylist" [value]="b.FacilityKey">
            {{b.FacilityText}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Floor*</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="FloorKey"
          [disabled]="!FacilityKey" (change)="getZoneRoomTypeRoom($event.target.value,FacilityKey);viewWO_Filter();"
          required>
          <option value="">--Select--</option>
          <option *ngFor="let b of FloorList" [value]="b.FloorKey">
            {{b.FloorName}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Zone</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="ZoneKey"
          [disabled]="!FloorKey" (change)="getRoomTypeRoom($event.target.value,FacilityKey,FloorKey);viewWO_Filter();"
          required>
          <option value="">--Select--</option>
          <option *ngFor="let b of zonelist" [value]="b.ZoneKey">
            {{b.ZoneName}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Room Type</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="RoomTypeKey"
          [disabled]="!FloorKey" (change)="getRoom($event.target.value,ZoneKey,FacilityKey,FloorKey);viewWO_Filter();"
          required>
          <option value="">--Select--</option>
          <option *ngFor="let b of RoomTypeList" [value]="b.RoomTypeKey">
            {{b.RoomTypeName}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Room</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="RoomKey"
          [disabled]="!FloorKey" (change)="viewWO_Filter();" required>
          <option value="">--Select--</option>
          <option *ngFor="let b of RoomList" [value]="b.RoomKey">
            {{b.RoomName}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Employee*</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="EmployeeKey"
          (change)="viewWO_Filter();" required>
          <option value="">--Select--</option>
          <option *ngFor="let e of EmployeeOption" [value]="e.EmployeeKey">
            {{e.EmployeeText}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Workorder Type</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="WorkorderTypeKey"
          (change)="viewWO_Filter();" required>
          <option value="">--Select--</option>
          <option *ngFor="let e of workorderTypeList" [value]="e.WorkorderTypeKey">
            {{e.WorkorderTypeText}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Schedule Name</label><br>
        <select style="background-color: #D4F4FF !important;width: 30rem" class="form-control" [(ngModel)]="BatchScheduleNameKey"
          (change)="viewWO_Filter();" required>
          <option value="">--Select--</option>
          <option *ngFor="let b of scheduleList" [value]="b.BatchScheduleNameKey">
            {{b.ScheduleName}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-12">
      <form [formGroup]="searchform">
        <div class="active-pink-3 active-pink-4 mb-4" style="margin-left: 1.5rem;margin-right: 1.5rem;">
          <input class="form-control" name="searchWO" maxlength="20" type="text" specialIsAlphaNumeric minlength="3"
            formControlName="SearchWo" placeholder="Search Schedule Name,Employee" aria-label="Search" [(ngmodel)]="SearchWo"
            (input)="searchBatchWo($event.target.value);" style="width: 100%;">
          <div *ngIf="searchform.controls.SearchWo.errors?.minlength">Minimum 3 characters required.</div>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div style="margin-left: 1.5rem;margin-right: 1.5rem;" class="bg-info">
    <table *ngIf='workorderList' class="table table-hover table-responsive table-bordered table">
      <thead class="tableHead">
        <th>Schedule Name</th>
        <th>Start Date</th>
        <th>end Date</th>
        <th>Employee</th>
        <th>Notes</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let x of workorderList; let i=index">
          <td>{{x.ScheduleName}}</td>
          <td>{{x.WorkorderTime}}</td>
          <td>{{x.EndDate}}</td>
          <td> {{x.LastName}},{{x.FirstName}}</td>
          <td>{{x.WorkorderNotes}}</td>
          <td *ngIf="x.IsEquipment === 0"></td>
          <td *ngIf="x.IsEquipment === 1"><a routerLink="/EditBatchWorkorder/{{x.WorkorderScheduleKey}}" class="btn btn-primary"
              style="color:white !important" routerLinkActive="active"><b>RECURRING</b> </a></td>
        </tr>
        <tr *ngIf="workorderList?.length == 0">
          <td colspan="14" class="no-data-available">No records found</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>