 

<div style="margin-left: 1rem; width: 100%">
  <br>
  <div style="text-align:center">
    <h5 style="color: #174a5e;"><strong>EDIT ASSIGNMENT SCHEDULE</strong></h5>
  </div>

  <div class="col-md-12" style="background-color: white; width: 99%">

    <div class="row col-md-12">
      <h5 style="margin-top: 2rem;" class="col-md-2"><label for="scheduling">Assignment Name: </label></h5>
      <div class="md-form col-md-4" style="text-align:left">
        <select style="background-color: #D4F4FF !important;" class="form-control" [(ngModel)]="BatchScheduleNameKey"
          (change)="getScheduleDetails($event.target.value)">
          <option value="">--Select--</option>
          <option *ngFor="let f of scheduleNameList" [value]="f.BatchScheduleNameKey">
            {{f.ScheduleName}}
          </option>
        </select>
      </div>
      <span style="margin-top: 2rem;" class="col-md-2"><label for="scheduling">Employee: </label></span>
      <div class="col-md-3">
        <input type="text" readonly [(ngModel)]="empName" style="background-color: #D4F4FF !important;margin-top: 1.5rem"
          class="form-control">
      </div>
    </div>


    <div class="col-md-12">
      <div class="row col-md-12">
        <span style="margin-top: 2rem;" class="col-md-2"><label for="scheduling" style=" margin-left: -1rem;">WorkOrder
            Notes: </label></span>
        <div class=" col-md-3 ">
          <textarea cols="40" rows="4" [(ngModel)]="WorkorderNotes" class="form-control" maxlength="200" style=" margin-left: -0.6rem;width: 141% !important;"></textarea>
        </div>
      </div>
    </div>

    <div class="row col-md-12">
      <span style="margin-top: 2rem;" class="col-md-2"><label for="scheduling">Start Date: </label></span>
      <div class="col-md-3" style="text-align:left">
        <!-- <igx-datePicker cancelButtonLabel="CANCEL" todayButtonLabel="TODAY" [labelVisibility]="none" [(ngModel)]="workScheduleStartDate" label=""
          cancelButtonLabel="cancel" todayButtonLabel="today">

        </igx-datePicker> -->
        <ng-datepicker [options]="options"   position="top-right"  [(ngModel)]="workScheduleStartDate"></ng-datepicker >
      </div>
      <div class="col-md-1"></div>
      <span style="margin-top: 2rem;" class="col-md-2"><label for="scheduling">End Date: </label></span>
      <div class="col-md-3">
        <!-- <igx-datePicker cancelButtonLabel="CANCEL" todayButtonLabel="TODAY" [labelVisibility]="none" item-width="25%" label="" cancelButtonLabel="cancel"
          todayButtonLabel="today" [(ngModel)]="workScheduleEndDate" [formatter]="formatter"></igx-datePicker> -->
          <ng-datepicker [options]="options"   position="top-right"  [(ngModel)]="workScheduleEndDate"></ng-datepicker >
      </div>
    </div>
  </div>

  <!-- Table for generating barcode for BatchSchedule -->
  <div *ngIf="roomList?.length > 0||roomTempList?.length > 0" style="padding-right: 0.5rem">
    <table class="table table-hover table-responsive table-bordered table" style="margin-top: 2rem;display: inline-table;">
      <thead class="tableHead">
        <th> Building </th>
        <th>Room</th>
        <th>Minutes</th>
        <th> Frequency</th>
        <td (click)="selectAllMon()">Mon</td>
        <td (click)="selectAllTue()">Tue</td>
        <td (click)="selectAllWed()">Wed</td>
        <td (click)="selectAllThu()">Thu</td>
        <td (click)="selectAllFri()">Fri</td>
        <td (click)="selectAllSat()">Sat</td>
        <td (click)="selectAllSun()">Sun</td>
        <td (click)="selectAllPhoto()">Photo Required</td>
        <td (click)="selectAllBarcode()">Barcode Required</td>
        <td>Room Type</td>
        <td>Work Order Type *</td>
      </thead>
      <tr *ngFor="let x of roomList">
        <td>
          <span style="color: red">{{x.FacilityName}}</span> - <span style="color: blue">{{x.FloorName}}</span> - <span
            style="color: black">{{x.ZoneName}}</span>
        </td>
        <td>
          {{x.RoomId}}

        </td>
        <td>
          <span *ngIf="x.MetricType == 'Minutes Per'">{{x.MetricValue| number:'1.2-2'}}</span>
          <span *ngIf="x.MetricType != 'Minutes Per'">{{x.MetricValue * x.Area| number:'1.2-2'}}</span>
        </td>
        <td>
          <select style="background-color: #D4F4FF !important" class="form-control" [(ngModel)]="x.dailyFrequency"
            (change)="metricCal()">
            <option *ngFor="let f of recurringFrequency">
              {{f}}
            </option>
          </select>
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="x.check_mon" (change)="metricCal()">
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="x.check_tue" (change)="metricCal()">
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="x.check_wed" (change)="metricCal()">
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="x.check_thu" (change)="metricCal()">
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="x.check_fri" (change)="metricCal()">
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="x.check_sat" (change)="metricCal()">
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="x.check_sun" (change)="metricCal()">
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="x.photoReq">
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="x.barcodeReq">
        </td>
        <td>
          {{x.RoomType}}
        </td>
        <td>
          <select style="background-color: #D4F4FF !important;" class="form-control" [(ngModel)]="x.WorkorderTypeKey">
            <option value="select">--Select--</option>
            <option *ngFor="let b of woList" [value]="b.WorkorderTypeKey">
              {{b.WorkorderTypeText}}
            </option>
          </select>
        </td>
      </tr>




      <tr *ngFor="let z of roomTempList">
        <td>
          <span style="color: red">{{z.FacilityName}}</span> - <span style="color: blue">{{z.FloorName}}</span> - <span
            style="color: black">{{z.ZoneName}}</span>
        </td>
        <td>
          {{z.RoomId}}

        </td>
        <td>
          <span *ngIf="z.MetricType == 'Minutes Per'">{{z.MetricValue| number:'1.2-2'}}</span>
          <span *ngIf="z.MetricType != 'Minutes Per'">{{z.MetricValue * z.Area| number:'1.2-2'}}</span>
        </td>
        <td>
          <select style="background-color: #D4F4FF !important" class="form-control" [(ngModel)]="z.dailyFrequency"
            (change)="metricCal()">
            <option *ngFor="let f of recurringFrequency">
              {{f}}
            </option>
          </select>
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="z.check_mon" (change)="metricCal()">
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="z.check_tue" (change)="metricCal()">
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="z.check_wed" (change)="metricCal()">
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="z.check_thu" (change)="metricCal()">
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="z.check_fri" (change)="metricCal()">
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="z.check_sat" (change)="metricCal()">
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="z.check_sun" (change)="metricCal()">
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="z.photoReq">
        </td>
        <td>
          <input type="checkbox" style="width: 1.5rem;height: 1.2rem;" [(ngModel)]="z.barcodeReq">
        </td>
        <td>
          {{z.RoomType}}
        </td>
        <td>
          <select style="background-color: #D4F4FF !important;" class="form-control" [(ngModel)]="z.WorkorderTypeKey">
            <option value="select">--Select--</option>
            <option *ngFor="let w of woList" [value]="w.WorkorderTypeKey">
              {{w.WorkorderTypeText}}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="4">Total Assigned daily minutes</td>
        <td>{{totalMonTime| number:'1.2-2'}}</td>
        <td>{{totalTuesTime| number:'1.2-2'}}</td>
        <td>{{totalWedTime| number:'1.2-2'}}</td>
        <td>{{totalThuTime| number:'1.2-2'}}</td>
        <td>{{totalFriTime| number:'1.2-2'}}</td>
        <td>{{totalSatTime| number:'1.2-2'}}</td>
        <td>{{totalSunTime| number:'1.2-2'}}</td>
        <td colspan="4"></td>
      </tr>
    </table>
    <button (click)="createBatchReport()" class="btn btn-success" style="margin-left: 40rem;">Save</button>
  </div>
  <div *ngIf="roomList?.length == 0 && roomTempList?.length == 0" style="padding-right: 0.5rem">
    <table class="table table-hover table-responsive table-bordered table" style="margin-top: 2rem;display: inline-table;">
      <thead class="tableHead">
        <th> Building </th>
        <th>Room</th>
        <th>Minutes</th>
        <th> Frequency</th>
        <td (click)="selectAllMon()">Mon</td>
        <td (click)="selectAllTue()">Tue</td>
        <td (click)="selectAllWed()">Wed</td>
        <td (click)="selectAllThu()">Thu</td>
        <td (click)="selectAllFri()">Fri</td>
        <td (click)="selectAllSat()">Sat</td>
        <td (click)="selectAllSun()">Sun</td>
        <td (click)="selectAllPhoto()">Photo Required</td>
        <td (click)="selectAllBarcode()">Barcode Required</td>
        <td>Room Type</td>
        <td>Work Order Type *</td>
      </thead>
      <tr>
        <td colspan="15">No Records Found</td>
      </tr>
      <tr>
        <td colspan="4">Total Assigned daily minutes</td>
        <td>{{totalMonTime| number:'1.2-2'}}</td>
        <td>{{totalTuesTime| number:'1.2-2'}}</td>
        <td>{{totalWedTime| number:'1.2-2'}}</td>
        <td>{{totalThuTime| number:'1.2-2'}}</td>
        <td>{{totalFriTime| number:'1.2-2'}}</td>
        <td>{{totalSatTime| number:'1.2-2'}}</td>
        <td>{{totalSunTime| number:'1.2-2'}}</td>
        <td colspan="4"></td>
      </tr>
    </table>
  </div>
</div>